server:
  port: 8082
  servlet:
    context-path: /medical-rest

spring:
  datasource:
    url: jdbc:h2:mem:medicaldb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  data:
    mongodb:
      uri: mongodb://localhost:27017/medical_records
      database: medical_records

medical:
  security:
    jwt:
      secret: MedicalDME_SECRET_KEY_2024
      expiration: 86400000 # 24 heures en millisecondes